<!-- .navbar -->
<nav
  class="navbar navbar-expand-lg navbar-dark bg-primary-disabled py-lg-0"
  style="background-color: #222230"
>
  <!-- .container -->
  <div class="container">
    <!-- .navbar-brand -->
    <a class="navbar-brand" href="/">
      <img style="height: 28px" src="assets/images/logo/logo.svg" />
    </a>
    <!-- /.navbar-brand -->
    <button
      class="hamburger hamburger-squeeze d-flex d-lg-none"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="hamburger-box"><span class="hamburger-inner"></span></span>
    </button>
    <!-- .navbar-collapse -->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <!-- .navbar-nav -->
      <ul id="navItems" class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/stable.shtml">Stable Coin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/erc.shtml">Transfer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/staking.shtml">Staking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/docs.shtml">Docs</a>
        </li>
        <li class="nav-item" style="display: none">
          <a class="nav-link" href="/register.shtml">Register</a>
        </li>
      </ul>
      <!-- /.navbar-nav -->
    </div>
    <!-- /.navbar-collapse -->

    <!-- .btn-account -->
    <div id="wallet" class="navbar-nav d-none d-lg-flex">
      <button
        class="btn btn-primary"
        v-if="!logined"
        @click="connectToMetaMask"
      >
        Connect to MetaMask
      </button>
      <div
        class="d-flex flex-row justify-content-start align-items-center"
        v-if="logined"
      >
        <span class="badge badge-warning mr-2" v-show="!isMainnet">Test</span>
        <img class="tile tile-circle" v-bind:src="chainIcon" />
        <span class="account-summary pl-2">
          <span class="account-description"
            >{{ wallet.currentAccount | abbrAddr}}</span
          >
        </span>
      </div>
    </div>
    <!-- /.btn-account -->
  </div>
  <!-- /.container -->
</nav>
<!-- /.navbar -->
<script>
  var vm = new Vue({
    el: "#wallet",
    data: function () {
      return {
        wallet: {
          chainId: 0,
          currentAccount: "",
        },
      };
    },
    computed: {
      logined() {
        return this.wallet.currentAccount.length > 0;
      },
      chainName() {
        const chainDef = getChainDefByChainId(this.wallet.chainId);
        return chainDef ? chainDef.chainName : "Unsupport Chain";
      },
      isMainnet() {
        return window.mainnet;
      },
      chainIcon() {
        const def = getChainDefByChainId(this.wallet.chainId);
        if (typeof def === "undefined") {
          console.warn("can not get icon url", this.wallet.chainId);
        }

        console.log("def", JSON.stringify(def));

        return def.iconURL;
      },
    },
    methods: {
      async connectToMetaMask() {
        if (typeof window.ethereum !== "undefined") {
          const chainId = await ethereum.request({ method: "eth_chainId" });
          this.handleChainChanged(chainId);

          await ethereum.request({
            method: "eth_requestAccounts",
          });
          ethereum.on("chainChanged", this.handleChainChanged);
          ethereum.on("accountsChanged", this.handleAccountsChanged);
        }
      },
      handleAccountsChanged(accounts) {
        console.log("connect accounts", accounts);
        if (accounts.length > 0) {
          if (accounts[0] !== this.wallet.currentAccount) {
            this.wallet.currentAccount = accounts[0];
          }
        } else {
          this.wallet.currentAccount = "";
          console.warn("please connect to MetaMask");
        }
      },
      handleChainChanged(chainId) {
        this.wallet.chainId = parseInt(chainId, 16);
        console.log("connect chainId", this.wallet.chainId);
      },
    },
    async mounted() {
      if (typeof window.ethereum !== "undefined") {
        const chainId = await ethereum.request({ method: "eth_chainId" });
        this.handleChainChanged(chainId);

        const accounts = await ethereum.request({ method: "eth_accounts" });
        this.handleAccountsChanged(accounts);

        ethereum.on("chainChanged", this.handleChainChanged);
        ethereum.on("accountsChanged", this.handleAccountsChanged);
      }
      this.bus.$on("ConnectMetaMask", this.connectToMetaMask);
    },
    beforeDestory() {
      this.bus.$off("ConnectMetaMask");
    },
  });
</script>
